h1 {
    color: rgb(241, 192, 57);
    background-color: rgb(175, 59, 6);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    color: rgb(241, 192, 57);
    background-color: rgb(175, 59, 6);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol {
    list-style: georgian;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
