.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

h1 {
    background-color: rgba(19, 19, 19, 0.733);
    color: rgb(241, 28, 0);
    text-align: center;
}

h3 {
    background-color: rgba(19, 19, 19, 0.733);
    color: rgb(241, 28, 0);
    text-align: center;
}

ol {
    list-style: georgian;
}